@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

:root {
    --new-black: rgb(20, 20, 20);
    --new-gray: rgb(139, 139, 139);
    --new-white: rgb(235, 235, 235);
    --pastel-red: rgb(255, 109, 109);
    --pastel-green: rgb(142, 221, 142);
    --pastel-blue: rgb(104, 104, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Schoolbell', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--new-black);
    color: var(--new-white);
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 51rem;
    height: 51rem;
    gap: 1rem;
}

.block {
    position: relative;
    border: 0.1rem solid var(--new-white);
    width: 25rem;
    height: 25rem;
}

.answers {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    background-color: var(--new-black);
    border: none;
    padding: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SchoolBell', cursive;
    font-size: 1.8rem;
    color: var(--new-white);
    width: 30%;
    height: 100%;
    border: 0.1rem solid var(--new-white);
    transition: all .3s;
}

.button:hover {
    transform: scale(1.03);
    background-color: var(--new-white);
    color: var(--new-black);
    cursor: pointer;
}

.option-1 {
    background-color: var(--pastel-blue);
}

.option-2 {
    background-color: var(--pastel-green);
}

.option-3 {
    background-color: var(--pastel-red);
}

.images {
    height: 80%;
}