@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

:root {
    --new-black: rgb(20, 20, 20);
    --new-gray: rgb(139, 139, 139);
    --new-white: rgb(235, 235, 235);
    --pastel-red: rgb(255, 109, 109);
    --pastel-green: rgb(142, 221, 142);
    --pastel-blue: rgb(104, 104, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Schoolbell', cursive;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--new-black);
    color: var(--new-white);
    height: 100vh;
    width: 100vw;
}

.title {
    position: absolute;
    height: max-content;
    width: max-content;
    font-size: 1.8em;
    animation: changingColor 5s infinite;
    transform: translateX(-17em);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-size: 0.7em;
    margin: 3em;
    width: max-content;
    height: max-content;
    gap: 1em;
}

.block {
    position: relative;
    border: 0.1em solid var(--new-white);
    width: 25em;
    height: 25em;
    transition: all .2s;
}

.answers {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    background-color: none;
    border: none;
    padding: 1em;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SchoolBell', cursive;
    font-size: 1.8em;
    color: var(--new-white);
    width: 30%;
    height: 100%;
    border: 0.08em solid var(--new-white);
    transition: all .3s;
}

.button:hover {
    transform: scale(1.04);
    background-color: var(--new-white);
    color: var(--new-black);
    cursor: pointer;
}

.option-1 {
    background-color: var(--pastel-blue);
}

.option-2 {
    background-color: var(--pastel-green);
}

.option-3 {
    background-color: var(--pastel-red);
}

.images {
    height: 80%;
}

.image {
    height: 50%;
}

/* ANIMATIONS */

@keyframes changingColor {
    0% {
        color: var(--pastel-red);
    }

    33% {
        color: var(--pastel-blue)
    }

    66% {
        color: var(--pastel-green);
    }

    100% {
        color: var(--pastel-red)
    }
}

.blinkingGreen {
    animation: blinkingGreen 1.2s forwards; 
}

@keyframes blinkingGreen {
    0% {
        background-color: var(--new-black);
    }
    14% {
        background-color: var(--pastel-green);
    }
    23% {
        background-color: var(--new-black);
    }
    34% {
        background-color: var(--pastel-green);
    }
}

.blinkingRed {
    animation: blinkingRed 1.2s forwards; 
}

@keyframes blinkingRed {
    0% {
        background-color: var(--new-black);
    }
    14% {
        background-color: var(--pastel-red);
    }
    23% {
        background-color: var(--new-black);
    }
    34% {
        background-color: var(--pastel-red);
    }
}